<div>
    <h1>Doctor - {{ doctorName }}</h1>
</div>
<div>
    <form [formGroup]="doctorForm">
        <div class="row pt-5 text-center">
            <div class="form-group col-3">
                <input type="text" class="form-control" formControlName="credentialNumber"
                    placeholder="No. Credencial">
                <div class="text-left"
                    *ngIf="doctorForm.get('credentialNumber').touched && doctorForm.get('credentialNumber').invalid"
                    style="color:red">
                    * Número Credencial requerido.
                </div>
            </div>
            <div class="form-group col-5">
                <input type="text" class="form-control" formControlName="name" placeholder="Nombres">
                <div class="text-left" *ngIf="doctorForm.get('name').touched && doctorForm.get('name').invalid"
                    style="color:red">
                    * Nombres es requerido.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-4">
                <input type="text" class="form-control" formControlName="hospitalName" placeholder="Hospital">
                <div class="text-left"
                    *ngIf="doctorForm.get('hospitalName').touched && doctorForm.get('hospitalName').invalid"
                    style="color:red;">
                    * Hospital es requerido.
                </div>
            </div>
            <div class="form-group col-4">
                <input type="text" class="form-control" formControlName="email" placeholder="Correo Electrónico">
                <div *ngIf="doctorForm.get('email').touched && doctorForm.get('email').invalid" style="color:red;">
                    <div *ngIf="doctorForm.get('email').errors.required">
                        Correo es requerido.
                    </div>
                    <div *ngIf="doctorForm.get('email').errors.email">
                        Correo Electrónico con formato inválido.
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right col-8 pb-5">
            <button class="btn btn-default mr-3" (click)="pageBack()">Volver</button>
            <button class="btn btn-success" [disabled]="!doctorForm.valid" (click)="saveDoctor()">{{ textoBoton }}</button>
        </div>
    </form>
</div>
<div *ngIf="doctor?.doctorId > 0">
    <app-patients-doctor [doctorId]="doctor?.doctorId"></app-patients-doctor>
</div>
