<div>
    <div class="jumbotron text-center">
        <h1>Pacientes</h1>
    </div>
</div>
<div class="pb-3">
    <button class="btn btn-primary" [routerLink]="['/patient']">Nuevo Paciente</button>
</div>
<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th> Seguro Social </th>
                <th> Nombres </th>
                <th> Dirección </th>
                <th> Número Telefónico </th>
                <th> Email </th>
                <th> Doctores </th>
                <th></th>
            </tr>
        </thead>
        <thead>
            <tr *ngFor="let patient of patients">
                <td>{{ patient.socialSecurityNumber }}</td>
                <td>{{ patient.name }}</td>
                <td>{{ patient.address }}</td>
                <td>{{ patient.phoneNumber }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.doctores }}</td>
                <td>
                    <button class="btn btn-warning mr-2" (click)="patientEdit(patient.patientId)">Editar</button>  
                    <button class="btn btn-danger" (click)="confirmDelete(patient.patientId)">Eliminar</button>  
                </td>
            </tr>
        </thead>
    </table>
</div>